@page "/"
@inject IJSRuntime js
@inject NavigationManager navigationManager




<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter step="10" Onclick="@alertarIncremento" Onlclass="bg-success" style="font-size:2em:"/>

<button class="btn btn-primary">Boton corporativo</button>


@code {
    protected override void OnInitialized()
    {
        js.InvokeVoidAsync("abreAlerta", "La has liado pollito desde una biblioteca");
        js.InvokeVoidAsync("window.alert","La has liado pollito");
    }
    private void alertarIncremento()
    {
        js.InvokeVoidAsync("window.alert", "Se ha incrementado el valor");
    }



}